
.page-layout-transparent {
    background: lightslategrey;
}

.page-layout-transparent .mdl-layout__header {
    background: url(../photos/header.jpg) center / cover;
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 300px;
    padding-bottom: 20px;
}

.page-layout-transparent .mdl-layout__drawer-button {
    text-shadow: 1px 1px darkslategrey;
    color: white; 
}

.test-card-wide.mdl-card {
  width: 512px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  
}
.test-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url(../photos/header.jpg) center / cover;
}
.test-card-wide > .mdl-card__menu {
  color: #fff;
}
      
.mdl-layout__content {
    margin-top: 2em;
}


/*body {
    font-family: "Nunito Sans", sans-serif;
}

header {
    background:linear-gradient(to left, lightsteelblue, lightseagreen);
    text-shadow: 1px 1px darkslategrey;
    padding-bottom: 2.5em;
    padding-top: 3em;
}


/* {
    box-sizing: border-box;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    margin: auto;
}

body {
    
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Nunito Sans", sans-serif;
    margin: 0px;
    
}
header {
    background:linear-gradient(to bottom, lightsteelblue, lightseagreen);
    text-shadow: 2px 1px darkgray;
    margin: auto;
    padding-bottom: 2.5em;
    padding-top: 3em;
}

header h1 {
    font-weight: 300;
    font-size: 300%;
    margin: 0;
}

.featured img {
    max-width: 300px;
}

@media (min-width: 768px) {
    
}



/*background-image:url(../photos/header.jpg);*/