body {
    background: lightslategrey;
}

.mdl-layout__header {
    background: url(../photos/header.jpg) bottom / cover;
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 250px;
    padding-bottom: 20px;
}

.mdl-layout__drawer-button {
    text-shadow: 1px 1px darkslategrey;
    color: white; 
}

.mdl-cell .mdl-card {
  width: 100%;
  
}
.data-card-wide > .mdl-card__title {
  color: white;
  text-shadow: 1px 1px black;
  height: 220px;
  background:url(../photos/searchimage.jpg) center / cover;
}

.featured-card-wide > .mdl-card__title {
  color: white;
  text-shadow: 1px 1px black;
  height: 220px;
  background:url(../photos/toothless.jpg) top / cover;
}

.chris-card-wide > .mdl-card__title {
  color: white;
  text-shadow: 1px 1px black;
  height: 220px;
  background:url(../photos/chris.jpg) top / cover;
}         
      
.mdl-layout__content {
    margin-top: 2em;
}

