body {
    background: lightslategrey;
}

.mdl-layout__header {
    background: url(../photos/header.jpg) bottom / cover;
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 220px;
    padding-bottom: 50px;
}

.mdl-layout__drawer-button {
    text-shadow: 1px 1px darkslategrey;
    color: white; 
}

.mdl-cell .mdl-card {
  width: 100%;  
}

.mdl-card__title {
  color: white; 
  text-shadow: 1px 1px black;
  height: 220px;
}

.mdl-layout__content {
    margin-top: 2em;
}

.data-card-wide > .mdl-card__title {
    background:url(../photos/searchimage.jpg) center / cover;
}

.featured-card-wide > .mdl-card__title {
    background:url(../photos/toothless.jpg) top / cover;
}

.chris-card-wide > .mdl-card__title {
    background:url(../photos/chris.jpg) top / cover;
}

.ranger-card-wide > .mdl-card__title {
    background:url(../photos/rangercard.jpg) top / cover; 
}

.floyd-card-wide > .mdl-card__title {
    background:url(../photos/searchimage.jpg) top / cover;
}

.jacques-card-wide > .mdl-card__title {
    background:url(../photos/header.jpg) top / cover; 
}

.portland-card-wide > .mdl-card__title {
  background:url(../photos/portland092015.jpg) top / cover; 
}

.savannahAA-card-wide > .mdl-card__title {
  background:url(../photos/savannah032016aa.jpg) bottom / cover; 
}

.savannahAB-card-wide > .mdl-card__title {
  background:url(../photos/savannah032016ab.jpg) center / cover; 
}

.savannahB-card-wide > .mdl-card__title {
  background:url(../photos/savannah032016b.jpg) center / cover; 
}